h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h3,
p,
li,
td, th {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f3e5d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}

img {
  width: 100%;
  border-radius: 10px;
}

#image_header {
  display: flex;
  justify-content: center;
}

.preptime {
  background-color: #fbeef6;
  padding: 15px;
  border-radius: 10px;
}

.preptime h3 {
  color: #84405e;
}

h2 {
  color: #85584c;
}

li,
p,
td {
  color: #5d5151;
}

li::marker {
  color: #84405e;
  font-weight: bold;
}

li{
    padding: 10px;
}

p{
    margin-bottom: 30px;
}

table{
  width: 100%;
}

td, th{
  border-bottom: #d2d2d2 solid 1px;
}

th{
  font-weight: 300;
    text-align: left;
    padding-block: 12px;
    margin-right: 150px;
}

td {
  color: #85584c;
  font-weight: 600;
}

.linha-separadora {
    border-top: 1px solid #d2d2d2; 
    margin: 20px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 600px) {
    main {
        width: 75%; 
        padding: 10px; 
    }

    h1, h2, h3 {
        font-size: 1.5em; 
    }

    img {
        width: 100%; 
    }

    .preptime {
        padding: 10px; 
    }

    td {
        padding-left: 20px; 
    }
}


@media (max-width: 400px) {
    h1, h2, h3 {
        font-size: 1.2em; 
    }

    .linha-separadora {
        margin: 10px 0;
    }
}