h1,
h2 {
  font-family: "Young Serif", serif;
}

h3,
p,
li,
td {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f3e5d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}

img {
  width: 100%;
  border-radius: 10px;
}

#image_header {
  display: flex;
  justify-content: center;
}

.preptime {
  background-color: #fbeef6;
  padding: 15px;
  border-radius: 10px;
}

.preptime h3 {
  color: #84405e;
}

h2 {
  color: #85584c;
}

li,
p,
td {
  color: #5d5151;
}

li::marker {
  color: #84405e;
  font-weight: bold;
}

li{
    padding: 10px;
}

p{
    margin-bottom: 30px;
}

th,
td {
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

td {
  border-bottom: #d2d2d2 solid 1px;
}

.tdcolor {
  color: #85584c;
}



.linha-separadora {
    border-top: 1px solid #d2d2d2; 
    margin: 20px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 600px) {
    main {
        width: 90%; /* Ajusta a largura do main para 90% da tela */
        padding: 15px; /* Diminui o padding */
    }

    h1, h2, h3 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte */
    }

    img {
        width: 100%; /* A imagem ocupa 100% da largura do container */
    }

    .preptime {
        padding: 10px; /* Diminui o padding */
    }

    td {
        padding-left: 20px; /* Diminui o padding das células da tabela */
    }
}


@media (max-width: 400px) {
    h1, h2, h3 {
        font-size: 1.2em; /* Ajusta ainda mais o tamanho da fonte */
    }

    .linha-separadora {
        margin: 15px 0; /* Diminui o espaçamento da linha separadora */
    }
}